


@media only screen and (max-width: 1150px) {
 
 #ebpb__leader--pos-1 {
    order: 1;
  }

  #ebpb__leader--pos-2 {
    order: 0;
  }
  #ebpb__leader--pos-3 {
    order: 2;
  }

  #ebpb__leader--pos-4 {
    order: 3;
  }

  #ebpb__leader--pos-5 {
    order: 4;
  }
  
  /* section div.section-content img {
    height: unset;
    width: 100%;
  } */

  div.ebpb__leader {
    width: 30%;
  }

}

@media only screen and (max-width: 800px) {
  /* div#eb__bg {
    padding: unset;
  } */

  div#ebpb > * {
    margin: 10px;
    width: 50vw;    
  }

  div#eb__bg,
  section.main-section,
  div.main-section {
    padding: 70px 0;
  }

  div.ebpb__leader__desc {
    height: unset;
    padding: 20px 10px;
  }

  section .section-content {
    flex-direction: column;
    align-items: center;
  }

  section .section-content > * {
    width: unset;
    margin: 20px;
  }

  section .section-content--pd .section__info {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .section__info .section__info__title {
    max-width: 100%;
    font-size: 2.2em;
  }

  section .section-content img {
    /* border: 15px solid var(--cso-gold); */
    height: 40vh;
    width: initial;
  }

  section .section-content--pd > *:nth-child(1) {
    margin-bottom: 40px;
    margin-right: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  div.desc {
    width: unset;
  }

  div.img-desc {
    flex-direction: column;
  }

  .img-desc div.img {
    height: 400px;
    width: unset;
  }

  .img-desc > * {
    margin: 0 10px;
  }
  
  div.desc-pair {
    flex-direction: column;
  }

  div.desc-pair > div.desc {
    margin: 10px;
  }

  div.cv__container {
    flex-direction: column;
    margin-top: 35px;
  }

  div.cv__cv {
    flex-direction: row;
  }

  div.cv__cv__label {
    text-align: left;
  }
  div.cv__cv__body {
    max-width: unset;
    text-align: left;
  }

  div.sec__desc {
    margin: 10px 10px 30px 10px;
  }

  div.ebpb__leader__desc__name {
    font-size: 1.5em;
  }

  div.ebpb__leader__desc__title {
    font-size: 1em;
  }

  div#ebpb {
    flex-direction: column;
    align-items: center;
  }

  div.ebpb__leader {
    width: unset;
  }

   #ebpb__leader--pos-1 {
    order: 0;
  }

  #ebpb__leader--pos-2 {
    order: 1;
  }
}


@media only screen and (max-width: 590px) {
  section div.section-content img {
    height: unset;
    width: 100%;
  }

  div div#ebpb > * {
    margin: 10px;
    width: 70vw;    
  }
}

.cso-accent {
  color: var(--cso-gold);
}

.main-section {
  padding: 100px 0;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section > * {
  max-width: 1240px;
}

.main-section__row-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
}

#banner {
  padding: 80px 0;
  position: relative;
  /* height: 600px; TODO: change for responsiveness?? */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner--abt {
  background-image: url("../../assets/csofiles/CSO Pictures/IMG_0868.jpg");
}

.banner--abt:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgb(0,0,0); */
  background: rgba(19, 54, 16, 0.9);
  /* background: linear-gradient(180deg, rgba(0,0,0,0.8354692218684349) 5%, rgba(0,0,0,0.785049053801208) 25%, rgba(0,0,0,0.3945728633250176) 45%, rgba(0,212,255,0) 100%); */
  /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}

.banner--abt:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 205, 0, 0.096);
  /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}

.section-content {
  /* padding: 150px; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;  
}

.section-content__left {
  margin-right: 80px; /* remove on responsive */
}

.section__info {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.section__info__subtitle {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--cso-gold);
}

.section__info__title {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--cso-white);
  text-align: center;
}

.section__info__body-container {
  background-color: var(--cso-white);
  padding: 40px 30px 30px 30px;
  text-align: center;
  background-color: var(--cso-white);
}

.section__info__body {
  line-height: 1.5em;
  margin: 30px 0px;
}

.section-content img {
  position: relative;
  width: 50%;
}

.divider {
  background-color: var(--cso-gold);
  margin: 20px 0 0 0;
  height: 6px;
  width: 95px;
  display: inline-block;
}

.divider.divider--white {
  background-color: var(--cso-white);
}

.img-desc {
  display: flex;
  justify-content: center;
}

.desc-pair {
  display: flex;
}

.desc-pair > *:nth-child(1) {
  margin-right: 20px;
}

.desc-pair > *:nth-child(2) {
  margin-left: 20px;
}

/* .img-desc > *{
    height: 100%;
    width: 40%;
} */

/* .img-desc img {
  height: 330px;
} */

.img-desc .img {
  width: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/csofiles/CSOfb/IMG_0878.jpg");  
}

.desc {
  padding: 50px 40px;
  background-color: var(--cso-white);
  height: inherit;
  width: 50%;
}

.desc .desc-title {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.desc p {
  margin-bottom: 15px;
}

.banner-content {
  text-align: center;
  max-width: 70%;
  /* padding-right: 21%; */
  color: var(--cso-white);
  z-index: 1;
  margin-top: 60px;
}

.banner-content > * {
  text-align: center;
}

.banner__main-txt {
  font-size: 2.7em;
  font-weight: 900;
  text-transform: uppercase;
}

.banner__sub-txt {
  font-size: 2em;
}


#about {
  /* padding: 140px 0; */
  background: var(--cso-green);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 40%;
}

.about__desc {
  max-width: 50%;
  padding-left: 50px;
  color: var(--cso-white);
}

.about__content > * {
  margin-bottom: 12px;
  line-height: 1.4em;
  /* text-align: justify; */
}

.about__header {
  /* text-transform: uppercase; */
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 26px;
}

#vis-mis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;
}

.pdb {
  /* padding: 80px 0;
  display: flex; */

  padding: 50px 40px;
    margin: 30px 0;
    display: flex;
    background-color: var(--cso-white);
}

.pdb > * {
  display: inline;
}

.pdb > *:nth-child(1) {
  margin-right: 50px;
}

.pdb__photo img {
  max-width: 100%;
}

.pdb__desc {
  width: 50%;
}

.pdb__photo {
  width: 50%;
}

.pdb__desc > * {
  margin-bottom: 12px;
  line-height: 1.4em;
}

.pdb__desc__header {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 26px;
  color: black;
}

.pdb__desc__body {
  width: 100%;
}

.sec__header {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 700;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gen-info {
  /* padding: 100px 0; */
  /* background: rgb(156,151,35); */
  /* background: linear-gradient(180deg, rgba(156,151,35,0.3984944319524685) 10%, rgba(156,151,35,0.13518910982361698) 100%); */
  /* background: linear-gradient(180deg, rgba(156,151,35,0.3984944319524685) 10%, rgba(156,151,35,0) 100%); */
  background: #e7e6ca; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #e7e6ca 0%,
    #c7c482 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #e7e6ca 0%,
    #c7c482 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #e7e6ca 0%,
    #c7c482 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6ca', endColorstr='#c7c482',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#gen-info > *:nth-child(2) {
  margin-top: 40px;
}

.cv__container {
  display: flex;
}

.cv__cv {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cv__cv > * {
    text-align: center;
}

.cv__cv__photo img {
  width: 100px;
}

.cv__cv__label {
  color: black;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.cv__cv__body {
  max-width: 20vw;
  text-align: center;
}

#eb__bg,
#et {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 120px 0; */
}

#eb {
    padding: 0;
}

#eb .sec__header {
    color: white;
    margin-bottom: 20px;
}

#eb .sec__desc {
    color: rgb(202, 202, 202);
}

#eb__bg {
    background-color: var(--cso-green);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

.sec__desc {
  /* max-width: 65vw; */
  text-align: center;
  margin-bottom: 30px;
}

#ebpb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

#ebpb > * {
  margin-left: 10px;
}

/* #ebpb > *:nth-child(1) {
  margin-left: 0;
} */

.ebpb__leader {
  position: relative;
  width: 19%;
}

.ebpb__leader__desc {
  position: absolute;
  bottom: 4px;
  color: white;
  background: var(--cso-green);
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 14px;
  opacity: 0.9;
}

.ebpb__leader__photo img {
  width: 100%;
}

.ebpb__leader__desc__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 3px;
}

.ebpb__leader__desc__title {
  font-size: 0.7em;
}

.et__sub {
  /* width: 70vw; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.et__comm {
  justify-content: center;
  align-items: center;
    padding: 35px;
    margin: 10px 10px 40px 10px;
  display: flex;
  text-align: center;
  background-color: var(--cso-white);
}

.et__comm__cont__memb > * {
  width: 240px;
}

.et__comm__cont__memb ul {
  margin-top: 20px;
}

.et__comm__cont {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.et__comm__cont__title {
  /* text-transform: uppercase; */
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.5em;
  width: 240px;
  /* max-width: 20vw; */
}

div.et__comm__cont__title--lighter {
  font-weight: 400;
}

.et__comm ul {
  list-style-type: none;
}

.et__comm__cont__memb__head {
    color: var(--cso-black);
    /* margin-bottom: 20px; */
    font-weight: 700;
}

.et__comm__cont__memb__name {
  font-size: 1.2em;
}

.et__comm__cont__memb__title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cso-gold);
}

/* .et__comm__logo {
  margin-right: 10px;
} */

.et__comm__logo img {
  width: 100px;
}
