:root {
    --color-font: rgb(127, 127, 127);
    --font-active: rgb(67, 67, 67);
    --shadow-color: grey;
    --color-bg-global: rgb(244, 244, 244);
    --color-white: rgb(254, 254, 254);
    --cso-green: #1e3f20;
    --cso-gold: #9c9723;
    --cso-black: #000000;
    --cso-white: #ffffff;
    --font: "Open Sans";
    --nav-size: 60px;
  }
  
  @media only screen and (max-width: 590px) {
    section div.section-content img {
      height: unset;
      width: 100%;
    }
  
    div div#ebpb > * {
      margin: 10px;
      width: 80vw;    
    }
  }
  
  @media only screen and (max-width: 800px) {
    /* div#eb__bg {
      padding: unset;
    } */
  
    div#ebpb > * {
      margin: 10px;
      width: 50vw;    
    }
  
    div#eb__bg,
    section.main-section,
    div.main-section {
      padding: 70px 0;
    }
  
    div.ebpb__leader__desc {
      height: 25%;
    }
  
    section .section-content {
      flex-direction: column;
      align-items: center;
    }
  
    section .section-content > * {
      width: unset;
      margin: 20px;
    }
  
    section .section-content--pd .section__info {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
  
    .section__info .section__info__title {
      max-width: 100%;
      font-size: 2.2em;
    }
  
    section .section-content img {
      /* border: 15px solid var(--cso-gold); */
      height: 40vh;
      width: initial;
    }
  
    section .section-content--pd > *:nth-child(1) {
      margin-bottom: 40px;
      margin-right: 20px;
      display: flex;
      text-align: center;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }
  
    div.desc {
      width: unset;
    }
  
    div.img-desc {
      flex-direction: column;
    }
  
    .img-desc div.img {
      height: 400px;
      width: unset;
    }
  
    .img-desc > * {
      margin: 0 10px;
    }
    
    div.desc-pair {
      flex-direction: column;
    }
  
    div.desc-pair > div.desc {
      margin: 10px;
    }

    div div.et__comm {
      width: 90%;
    }
  
    
  }

  @media only screen and (max-width: 1240px) {
    div.et__comm {
      width: 47%;
    }

    div.et__sub {
      justify-content: center;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.5em;
  }

  body {
    /* background-color: var(--cso-white); */
    background-color: var(--color-bg-global);
    font-family: var(--font), sans-serif;
    color: var(--color-font);
  }
  
  .cso-accent {
    color: var(--cso-gold);
  }
  
  #nav {
    background-color: var(--cso-white);
    position: relative;
    z-index: 5;
    padding: 18px 0 18px 0;
    font-size: 0.8em;
  }
  
  #nav img {
    height: 110px;
    position: absolute;
    left: 10%;
    top: 0px;
  }
  
  #nav ul {
    text-align: center;
  }
  
  #nav ul li {
    display: inline;
    text-transform: uppercase;
    margin-left: 30px;
  }
  
  #nav ul li:nth-child(1) {
    display: inline;
    text-transform: uppercase;
    margin-left: 0;
  }
  .main-section {
    padding: 100px 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-section > * {
    max-width: 1240px;
  }
  
  #banner {
    padding: 80px 0;
    position: relative;
    /* height: 600px; TODO: change for responsiveness?? */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner--abt {
    background-image: url("../../assets/csofiles/CSO Pictures/IMG_0868.jpg");
  }
  
  .banner--abt:after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgb(0,0,0); */
    background: rgba(19, 54, 16, 0.9);
    /* background: linear-gradient(180deg, rgba(0,0,0,0.8354692218684349) 5%, rgba(0,0,0,0.785049053801208) 25%, rgba(0,0,0,0.3945728633250176) 45%, rgba(0,212,255,0) 100%); */
    /* transition: all 0.5s;
      -webkit-transition: all 0.5s; */
  }
  
  .banner--abt:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 205, 0, 0.096);
    /* transition: all 0.5s;
      -webkit-transition: all 0.5s; */
  }
  
  .section-content {
    /* padding: 150px; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;    
  }
  
  .section-content__left {
    margin-right: 80px; /* remove on responsive */
  }
  
  .section__info {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .section__info__subtitle {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--cso-gold);
  }
  
  .section__info__title {
    font-size: 2.2em;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--cso-white);
    text-align: center;
  }
  
  .section__info__body-container {
    background-color: var(--cso-white);
    padding: 40px 30px 30px 30px;
    text-align: center;
    background-color: var(--cso-white);
  }
  
  .section__info__body {
    line-height: 1.5em;
    margin: 30px 0px;
  }
  
  .section-content img {
    position: relative;
    width: 50%;
  }
  
  .divider {
    background-color: var(--cso-gold);
    margin: 20px 0 0 0;
    height: 6px;
    width: 95px;
    display: inline-block;
  }

  .divider--short {
    background-color: var(--cso-gold);
    /* margin: 20px 0 0 0; */
    height: 6px;
    width: 65px;
    display: inline-block;
  }
  
  .img-desc {
    display: flex;
    justify-content: center;
  }
  
  .desc-pair {
    display: flex;
  }
  
  .desc-pair > *:nth-child(1) {
    margin-right: 20px;
  }
  
  .desc-pair > *:nth-child(2) {
    margin-left: 20px;
  }
  
  /* .img-desc > *{
      height: 100%;
      width: 40%;
  } */
  
  /* .img-desc img {
    height: 330px;
  } */
  
  .img-desc .img {
    width: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/csofiles/CSOfb/IMG_0878.jpg");  
  }
  
  .desc {
    padding: 50px 40px;
    background-color: var(--cso-white);
    height: inherit;
    width: 50%;
  }
  
  .desc .desc-title {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .desc p {
    margin-bottom: 15px;
  }
  
  .banner-content {
    text-align: center;
    max-width: 70%;
    /* padding-right: 21%; */
    color: var(--cso-white);
    z-index: 1;
    margin-top: 60px;
  }
  
  .banner-content > * {
    text-align: center;
  }
  
  .banner__main-txt {
    font-size: 2.7em;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .banner__sub-txt {
    font-size: 2em;
  }
  
  .banner__org-lbl {
    position: absolute;
    left: 0;
    font-size: 3.5em;
    font-weight: 900;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cso-white);
    z-index: 2;
    max-width: 70%;
  
    /* background: url(img/grp-photo__mes.jpg); */
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 58% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 58% 0, 100% 100%, 0% 100%);
  }
  
  .banner__org-logo {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner__org-logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: white;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner__org-logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.15;
  }
  
  .banner__org-logo img {
    width: 50%;
    margin-left: 150px;
    z-index: 4;
    max-height: 100%;
    max-width: 100%;
  }
  
  .banner__org-lbl p {
    z-index: 5;
    padding: 0 200px 0 60px;
  }
  
  .banner__org-lbl:after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.82) 5%,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 45%,
      rgba(0, 0, 0, 0.55) 100%
    );
    /* transition: all 0.5s;
      -webkit-transition: all 0.5s; */
  }
  
  .banner__org-lbl span {
    font-weight: 300;
  }
  
  .sec__header {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .sec__desc {
    /* max-width: 65vw; */
    text-align: center;
    margin-bottom: 30px;
  }
  
  #ebpb {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  #ebpb > * {
    margin-left: 10px;
  }
  
  #ebpb > *:nth-child(1) {
    margin-left: 0;
  }
  
  .ebpb__leader {
    position: relative;
    width: 19.2%;
  }
  
  .ebpb__leader__desc {
    position: absolute;
    bottom: 5px;
    color: white;
    background: var(--cso-green);
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 14px;
    opacity: 0.9;
  }
  
  .ebpb__leader__photo img {
    width: 100%;
  }
  
  .ebpb__leader__desc__name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 3px;
  }
  
  .ebpb__leader__desc__title {
    font-size: 0.7em;
  }
  
  .et__sub {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .et__comm__photo {
    height: 200px;
    /* width: 345px; */
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #et__comm--fw.et__comm__photo {
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-fw-01.jpg");  
  }

  #et__comm--arw.et__comm__photo {
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-arw-01.jpg");  
  }

  #et__comm--ugnayan.et__comm__photo {
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-ugnayan-01.jpg");      
  }

  #et__comm--leap.et__comm__photo {
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-leap-01.jpg");      
  }

  #et__com--flare.et__comm__photo{
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-flare.png");      
  }

  #et__com--tuklas.et__comm__photo{
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-tuk.png");      
  }
  #et__com--lea.et__comm__photo{
    background-image: url("../../assets/csofiles/Sample Photos/sample-act-lea.png");      
  }
  .et__comm__photo__logo {
    padding: 2px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: var(--color-bg-global);
    right: -10px;
    bottom: -40px;
  }
  
  .et__comm__photo__logo img {
    width: 100%;
    height: 100%;
  }
  
  .et__comm {
    /* min-width: 620px; */
    width: 393px;
      padding: 35px 25px;
      margin: 10px 10px 40px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--cso-white);
  }
 
  .et__comm__cont {
    text-align: left;
  }
  .et__comm__cont__title {
    color: black;
    max-width: 82%;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 25px;
  }

  .et__comm__cont__detailsgroup {
    margin-top: 20px;
  }
  
  .et__comm__cont__detailsgroup > *{
    margin-bottom: 10px;
    line-height: 1.1em;
  }

  .et__comm__cont__details {
    display: flex;
    justify-content: space-between;
  }

  .et__comm__cont__details__title {
    font-weight: 700;
    color: var(--cso-black);
  }

  .et__comm__cont__details__data {
    text-align: right;
    max-width: 220px;
  }
  .et__comm ul {
    list-style-type: none;
  }
  
  .et__comm__cont__memb {
    margin-top: 10px;    
    text-align: justify;
  }
  .et__comm__cont__memb__head {
      color: var(--cso-black);
      margin-bottom: 20px;
      font-weight: 700;
  }
  
  .et__comm__cont__memb__title {
      font-weight: 700;
      text-transform: uppercase;
      color: var(--cso-gold);
  }
  
  .et__comm__logo img {
    width: 100px;
  }
  